POSTGRES_PASSWORD=mockcodepassword
POSTGRES_DB=mock_code
POSTGRES_USER=mock_code

DATABASE_USER=mock_code
DATABASE_PASSWORD=mockcodepassword
DATABASE_NAME=mock_code
DATABASE_PORT=5432
DATABASE_HOST=mock_code_db

SERVER_PORT=5000
